$parallax-window-height: 40em;
$parallax-background-height: $parallax-window-height * 1;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: white;
  padding: 13em 0;   // Adjust window height by adding padding to it's child here.
  position: relative;
  z-index: 9;

  h1 {
     -webkit-font-smoothing: antialiased;
     text-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
 }
}

.parallax-background {
  background: url("../img/mountain.jpg");
  background-position: top;
  background-size: cover;
  background-color: #eee;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
